<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>487210973598-qtt20bm0rvsgifgo9a6dqepqahu24gba.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.487210973598-qtt20bm0rvsgifgo9a6dqepqahu24gba</string>
	<key>API_KEY</key>
	<string>AIzaSyAAAARPvhtcaKhD91o52kHs5XNSNet0LlQ</string>
	<key>GCM_SENDER_ID</key>
	<string>487210973598</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.utsha.www.weather</string>
	<key>PROJECT_ID</key>
	<string>weather-new-app-4fcf0</string>
	<key>STORAGE_BUCKET</key>
	<string>weather-new-app-4fcf0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:487210973598:ios:71a2b2d2597fed2ec13e8f</string>
</dict>
</plist>